<div class="col-md-1">
    <div>
        <h5 clsss="nav-link"></h5>
    </div>
    <div class="col-md-3 bd-sidebar mt-2 push-left">
        <nav class=" collapse nav flex-column justify-content-center ">
            <div>
                <h5 class="head text-center">Insert Into:</h5>
            </div>
            <a class="nav-link link active  " href="/insert/eventing">Event</a>
            <a class="nav-link link active " href="/insert/college">College</a>
            <a class="nav-link link active " href="/insert/users">User</a>
            <a class="nav-link link active " href="/insert/competation">Competation</a>
            <a class="nav-link link active " href="/insert/winners">Winners</a>
        </nav>
    </div>
</div>